/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.sp-header {
  height: 60px;
  width: 100vw;
  padding: 0 20px;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 2;
}
.sp-header .humberger {
  display: flex;
  flex-flow: column;
  row-gap: 10px;
}
.sp-header .humberger__border {
  background-color: #f3a7ac;
  height: 2px;
  width: 32px;
}

.section {
  padding-top: 64px;
  padding-bottom: 160px;
}
@media screen and (max-width:599px) {
  .section {
    margin-top: initial;
    padding-bottom: initial;
  }
}

.section-title {
  color: #f3a7ac;
  font-family: "Montserrat";
  padding-top: 64px;
}
@media screen and (max-width:599px) {
  .section-title {
    padding-top: initial;
  }
}

.section-headline {
  padding-top: 64px;
  padding-bottom: 128px;
  text-align: center;
}
@media screen and (max-width:599px) {
  .section-headline {
    padding-bottom: 64px;
  }
}

.btn {
  border: 1px solid #f3a7ac;
  background-color: #f3a7ac;
  color: #ffffff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  font-family: "Montserrat";
  height: 48px;
  width: 216px;
  line-height: 48px;
  text-align: center;
  position: relative;
  z-index: 1;
  transition: all 0.8s ease;
}
.btn:hover {
  background-color: #ffffff;
  border: none;
  color: #f3a7ac;
}
.btn::after {
  content: "";
  border: 1px solid #f3a7ac;
  height: 48px;
  width: 216px;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 0;
}
.btn:hover::after {
  top: 0;
  left: 0;
}

.over-flow {
  overflow: hidden;
}

body {
  color: #1a0b08;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

span {
  display: inline-block;
  font-size: 14px;
}

li {
  list-style: none;
}

@media screen and (max-width:599px) {
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
  span {
    font-size: 12px;
  }
  .pc-none {
    display: block;
  }
  .mobile-none {
    display: none;
  }
}
.drawer-hamburger {
  padding: 40px;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
  background-color: #f3a7ac;
}

.drawer-nav {
  text-align: center;
  padding: 60px;
}
.drawer-nav .drawer-menu-item {
  font-size: 14px;
  margin-bottom: 28px;
  padding: 0;
}
.drawer-nav .sns-link {
  justify-content: center;
  margin-top: 60px;
}

.title-box {
  background: url(../img/h1bgc2.jpg) no-repeat center/cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:599px) {
  .title-box {
    height: 100vh;
    width: 100%;
  }
}

.site-title {
  font-size: 100px;
}
@media screen and (max-width:599px) {
  .site-title {
    font-size: 40px;
  }
}

.chenge {
  color: #f3a7ac;
  font-size: 100px;
}
@media screen and (max-width:599px) {
  .chenge {
    font-size: 40px;
  }
}

.concept {
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width:599px) {
  .concept {
    max-width: initial;
    padding: 0 10px;
    position: initial;
  }
}
.concept__img {
  width: 50%;
}
@media screen and (max-width:599px) {
  .concept__img {
    width: 70%;
  }
}
.concept-wrap {
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 16px;
  position: absolute;
  top: 50%;
  left: 428px;
  transform: translateY(-50%);
}
@media screen and (max-width:599px) {
  .concept-wrap {
    background-color: initial;
    padding-left: initial;
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
  }
}
.concept__headline {
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px;
}
.concept__text {
  font-family: "Noto Sans JP";
  line-height: 2;
}
@media screen and (max-width:599px) {
  .concept__text {
    line-height: 1.8;
  }
}

.about {
  max-width: 1080px;
  margin: 0 auto;
}
@media screen and (max-width:599px) {
  .about {
    max-width: initial;
    padding: 0 20px;
  }
}
.about .profile {
  position: relative;
  height: 853px;
  margin-bottom: 90px;
}
.about .profile__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}
@media screen and (max-width:599px) {
  .about .profile__img {
    width: 60%;
  }
}
.about .profile-wrap {
  background-color: #dde67b;
  position: absolute;
  bottom: 0;
  padding: 82px 40px 26px 40px;
  z-index: 1;
}
@media screen and (max-width:599px) {
  .about .profile-wrap {
    padding: 80px 20px 0px 20px;
    z-index: -1;
  }
}
.about .profile-content__headline {
  font-family: "Montserrat";
  color: #1a0b08;
  font-weight: bold;
}
.about .profile-content__tab {
  color: #f3a7ac;
  font-weight: bold;
  margin-bottom: 24px;
}
.about .profile-content__text {
  color: #1a0b08;
  font-family: "Noto Sans JP";
  margin-bottom: 56px;
  line-height: 2;
}
@media screen and (max-width:599px) {
  .about .profile-content__text {
    line-height: 1.8;
  }
}

.works {
  background-color: #fce9ed;
  padding-top: 0;
}
.works-wrap {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 36px;
}
@media screen and (max-width:599px) {
  .works-wrap {
    max-width: initial;
    padding: 0 40px;
    row-gap: 30px;
  }
}
.works-content {
  display: flex;
  flex-direction: column;
}
.works-content__title {
  font-family: "Noto Sans JP";
  font-size: 18px;
}
.works-content__img {
  height: 225px;
  width: 300px;
  display: inline-block;
  margin-top: 24px;
  transition: all 0.8s ease;
}
.works-content__img:hover {
  transform: scale(1.2);
}
.works-content__link {
  font-family: "Montserrat";
}
.works-content__link:hover {
  color: #f3a7ac;
}
.works-text {
  font-size: 16px;
  font-family: "Noto Sans JP";
  margin-top: 160px;
  line-height: 2;
  text-align: center;
}
@media screen and (max-width:599px) {
  .works-text {
    font-size: 12px;
    margin-top: 120px;
    padding: 0 20px 20px 20px;
    text-align: initial;
  }
}
.works .btn {
  margin-top: 160px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width:599px) {
  .works .btn {
    margin-top: 80px;
  }
}
.works .sns-link {
  display: flex;
  justify-content: center;
}
.works .sns-link__icon {
  color: #f3a7ac;
  display: flex;
  align-items: center;
  height: 56px;
  margin-bottom: 40px;
}

.footer {
  background-color: #dde67b;
  height: 40px;
  text-align: center;
  padding-top: 13px;
}
.footer .copyrights {
  font-size: 14px;
  font-family: "Montserrat";
}
/*# sourceMappingURL=style.css.map */